<html>
    <head>
    <title></title>
    </head>
    <body>
        <form action="/registerp" method="post">
            Username:<input type="text" name="email">
            <input type="submit" value="Login">
        </form>
    </body>
</html>
